<dl>
    <dt>Использование коагулянта.</dt>
    <dd>
        <p class="m-8">
            Коагулянт применяют в случае, если после ударной обработки вода приобрела мутно-белый оттенок.
            Коагулянт бывает в жидком виде или в виде таблеток в картриджах.
        </p>
        {% if poolGuideDto.filterType.name == "SAND" %}
        <p class="m-8">
            С песочным фильтр-насосом применяйте
            <a href="https://ozon.ru/product/koagulyant-flokulyant-dlya-basseyna-0-9kg-aqualeon-v-tabletkah-po-25-gr-v-vedre-7-meshochkov-1588948252/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                сухой коагулянт в таблетках</a>:
        </p>
        <ol>
            <li>
                {{ poolGuideDto.coagulatPill }} шт таблеток сухого коагулянта положите в скиммер.
            </li>
            <li>
                Фильтр-насос включите в режим фильтрации.
            </li>
            <li>
                Через 12 часов сделайте обратную промывку песка в фильтре.
            </li>
            <li>
                Если вода была очень мутная, то промойте песок еще
                через сутки.
            </li>

        </ol>
        {% else %}
        <p class="m-8">
            С картриджным фильтр-насосом применяйте
            <a href="https://ozon.ru/product/koagulyant-zhidkiy-aqualeon-1l-1-1kg-sredstvo-ot-mutnosti-v-basseyne-1050253045/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                жидкий коагулянт</a>.
        </p>
        <ol>
            <li>
                Добавьте {{ poolGuideDto.coagulatLiquid }} мл жидкого коагулянта непосредственно в воду и
                отключите фильтрацию.
            </li>
            <li>
                Отстаивайте воду не менее суток.
            </li>
            <li>
                После отстаивания, на дне бассейна оседают хлопья, соберите их водным пылесосом.
            </li>
        </ol>
        {% endif %}
    </dd>
</dl>


