<h2>
    Использование коагулянта.
</h2>
<p>
    Коагулянт применяют в случае, если после ударной обработки вода приобрела мутно-белый оттенок.
    Коагулянт бывает в жидком виде или в виде таблеток в картриджах.
</p>
{% if poolGuideDto.filterType.name == "SAND" %}
<p>
    С песочным фильтр-насосом применяйте
    <a href="https://ozon.ru/t/Qosc5N8">сухой коагулянт в таблетках</a>:
</p>
<ol>
    <li>
        {{ poolGuideDto.coagulatPill }} шт таблеток сухого коагулянта положите в скиммер.
    </li>
    <li>
        Фильтр-насос включите в режим фильтрации.
    </li>
    <li>
        Через 12 часов сделайте обратную промывку песка в фильтре.
    </li>
    <li>
        Если вода была очень мутная, то промойте песок еще
        через сутки.
    </li>

</ol>
{% else %}
<p>
    С картриджным фильтр-насосом применяйте
    <a href="https://ozon.ru/t/QoscUdm">жидкий коагулянт</a>.
</p>
<ol>
    <li>
        Добавьте {{ poolGuideDto.coagulatLiquid }} мл жидкого коагулянта непосредственно в воду и
        отключите фильтрацию.
    </li>
    <li>
        Отстаивайте воду не менее суток.
    </li>
    <li>
        После отстаивания, на дне бассейна оседают хлопья, соберите их водным пылесосом.
    </li>
</ol>
{% endif %}

<p>
    Обратите внимание! Если в бассейне недостаточный уровень хлора (давно не делали ударную и текущую
    обработку), и
    вода
    в
    бассейне стала мутной, то это означает, что вода начала портится и тогда коагулянт не поможет. Нужно сначала
    сделать
    ударную обработку, а затем очистить воду от взвешенных частиц коагулянтом.
</p>
