<h2>
    Ударная обработка воды.
</h2>
<p>
    (Проводится при первом запуске и затем, в течение сезона, 1 раз в неделю)
</p>
<ol>
    <li>
        <a href="https://ozon.ru/product/algitsid-dlya-basseyna-1l-prolongirovannyy-sredstvo-protiv-vodorosley-i-zeleni-1l-1kg-aqualeon-1591639988/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
            Альгицид</a>
         — {{ poolGuideDto.algicide }} мл
        разлейте по периметру бассейна непосредственно в воду при
        включенной фильтрации.(При первом запуске используйте двойной дозу альгицида)
    </li>

    <li>
        С помощью мерной емкости отмеряйте {{ poolGuideDto.chlorineGran }} грамм
        <a href="https://ozon.ru/product/udarnyy-hlor-dlya-basseyna-v-granulah-1-kg-aqualeon-sredstvo-dlya-shokovogo-hlorirovaniya-vody-1074963474/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
            хлора в гранулах</a>.
    </li>
    <li>
        Растворите гранулы в ведре с водой и разлейте раствор по периметру бассейна при включенной
        фильтрации.
    </li>
</ol>
<p>
    Обратите внимание! Альгицид- не может применяться как самостоятельное средство для очистки бассейна.
    Это вспомогательное средство. Он препятствует размножению водорослей, но не убивает их.
    Используется для профилактики. И обязательно вместе с хлором.
</p>
<p class="red-text">
    12 часов ПОСЛЕ УДАРНОЙ ОБРАБОТКИ КУПАТЬСЯ ЗАПРЕЩЕНО.
</p>
<p>
    Через 12 часов после ударной обработки сделайте замер уровня хлора в бассейне
    при помощи таблеточного тестера. При уровне хлора ниже 1.0 можно купаться без риска для
    здоровья. Оптимальное значение хлора в воде 0.3 - 0.5.
</p>