<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Инструкция</title>
    <link rel="stylesheet" href="template.css"/>
    <style>
        {% include "static/templates/template.css" %}
    </style>
</head>
<body>
{% include "static/templates/list-of-chemicals.html" %}
<p class="m-8">
    Обьем вашего бассейна: {{ poolGuideDto.poolVolume | numberformat("#.##") }} м3
</p>
<ol class="main-list">
    <li>
        {% include "static/templates/pool-pre-treatment.html" %}
    </li>
    {% if poolGuideDto.poolVolume > 5 %}
    <li>
        {% include "static/templates/ph.html" %}
    </li>
    {% endif %}
    <li>
        {% include "static/templates/green-pool-fast-treatment.html" %}
    </li>
    <li>
        {% include "static/templates/slow-treatment.html" %}
    </li>
    {% if poolGuideDto.filterType.name != "NO_FILTER" %}
    <li>
        {% include "static/templates/coagulat.html" %}
    </li>
    {% endif %}
</ol>
</body>
</html>