<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Инструкция</title>
    <link rel="stylesheet" href="template.css"/>
    <style>
        {% include "static/templates/template.css" %}
    </style>
</head>
<body>
{% include "static/templates/list-of-chemicals.html" %}
<p class="m-8">
    Обьем вашего бассейна: {{ poolGuideDto.poolVolume | numberformat("#.##") }} м3
</p>
<ol class="main-list">
    {% if poolGuideDto.poolVolume > 5 %}
    <li>
        {% include "static/templates/ph.html" %}
    </li>
    {% endif %}
    <li>
        {% include "static/templates/green-pool-fast-treatment.html" %}
    </li>
    <li>
        {% include "static/templates/slow-treatment.html" %}
    </li>
    {% if poolGuideDto.filterType.name != "NO_FILTER" %}
    <li>
        {% include "static/templates/coagulat.html" %}
    </li>
    {% endif %}
</ol>
<h4>Главный секрет:</h4>
<p class="m-8">
    Бассейн проще поддерживать в чистоте, чем «лечить» запущенную зеленую воду.
    Делайте ударную обработку регулярно, один раз в неделю.
    В поплавке или скиммере должна всегда лежать
    медленная таблетка. И тогда вы забудете о том что такое
    слив воды посреди июля.
</p>
<h4>Обратите внимание!</h4>
<p class="m-8">
    Если в бассейне недостаточный уровень хлора (давно не делали ударную и текущую
    обработку), и вода в
    бассейне стала мутной, то это означает, что вода начала портится и скоро станет зеленой.
    Нужно сделать ударную обработку, а затем очистить воду от взвешенных частиц коагулянтом.
</p>
</body>
</html>