<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Инструкция</title>
    <style>
        body {
            font-family: "DejaVu Sans";
        }
        .main-list {
            counter-reset: item;
            list-style: none;
             padding-left: 0;
        }

        .main-list > li {
            counter-increment: item;
        }

        .main-list > li > h2::before {
            content: counter(item) ". ";
        }
        .red-text {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <h2>
        Список необходимых средств для чистой воды бассейна:
    </h2>
    <p>
        Все препараты в списке- это кликабельные ссылки на товары на Ozon.
        Можно сразу перейти и заказать все необходимое.
    </p>
    <ol>
        <li>
            <a href="https://aquamarina-shop.ru/testery">Тестер таблеточный</a> для бассейна для измерения уровня хлора и PH
        </li>
        <li>
            <a href="https://ozon.ru/t/tK1NBxo">Альгицид</a>
        </li>
        <li>
            <a href="https://ozon.ru/t/qu3PQ05">Быстрый хлор в гранулах</a>
        </li>
        <li>
            {% if poolGuideDto.poolVolume > 16 %}
            <a href="https://ozon.ru/t/NIgXyrn">Медленный хлор в таблетках 200гр</a>.
            {% else %}
            <a href="https://ozon.ru/t/NIgXyWh">Медленный хлор в таблетках 20гр</a>
            {% endif %}
        </li>
        <li>
            <a href="https://ozon.ru/t/1GxBVTB">Рн-минус</a> или
            <a href="https://ozon.ru/t/7i0AgpJ">РН плюс</a>
        </li>
        <li>
            {% if poolGuideDto.filterType.name == "SAND" %}
                <a href="https://ozon.ru/t/Qosc5N8">Коагулянт в таблетках</a>
            {% else %}
                <a href="https://ozon.ru/t/QoscUdm">Коагулянт жидкий</a>
            {% endif %}
        </li>
    </ol>
    <p>
        Обьем вашего бассейна: {{ poolGuideDto.poolVolume | numberformat("#.##") }} м3
    </p>
</div>

<ol class="main-list">
    <li>
        <h2>
            Предварительная обработка бассейна.
        </h2>

        <p>
            Это нужно сделать перед тем как заполнить бассейн водой.
        </p>
        <p>
            Разведите 300мл <a href="https://ozon.ru/t/tK1NBxo">Альгицида</a> в 3л воды в отдельной емкости.
            Обработайте этим раствором внутреннюю поверхность бассейна (стенки и дно).
            Далее оставьте до полного высыхания и наполните бассейн водой.
            Это позволит предотвратить на стенках и дне бассейна скользкий налет.
        </p>
    </li>
    <li>
        <h2>
            Замер и корректировка уровня PH воды бассейна.
        </h2>

        <p>
            Оптимальное значение РН - 7.2 — 7.4.
            Правильный уровень РН в воде необходим для качественной работы дезинфицирующих средств.
            Для определния уровня PH воды вашего бассейна используйте таблеточный тестер.
        </p>

        <ol>
            <li>
                С помощью тестера замеряйте уровень PH воды бассейна
            </li>
        </ol>

        <h4>
            Если уровень PH выше 7.2 — 7.4:
        </h4>
        <ol start="2">
            <li>
                Возьмите средство <a href="https://ozon.ru/t/1GxBVTB">РН минус</a>.
                Для понижения PH на каждые 0.2 растворите в пластиковой емкости
                {{ poolGuideDto.phMinus }}г средства.
                (К примеру если у вас уровень PH равен 8.0, то вам понадобиться {{ 3 * poolGuideDto.phMinus }}г средства)
            </li>
            <li>
                Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
            </li>
            <li>
                Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
                пришел в
                норму.
            </li>
        </ol>

        <h4>
            Если уровень PH ниже 7.2 — 7.4:
        </h4>
        <ol start="2">
            <li>
                Возьмите средство <a href="https://ozon.ru/t/7i0AgpJ">РН плюс</a>.
                Для повышения PH на 0.2 растворите в пластиковой емкости
                {{ poolGuideDto.phPlus }}г средства.
                (К примеру если у вас уровень PH равен 6.8,
                то вам понадобиться {{ 3 * poolGuideDto.phPlus }}г средства)
            </li>
            <li>
                Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
            </li>
            <li>
                Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
                пришел в
                норму.
            </li>
        </ol>
        <p>
            Для эффективного распределения средства рекомендуется включить насос в режим циркуляции.
        </p>
        <p>
            При повышенном уровне РН происходит выпадение известкового осадка, вода приобретает неприятный запах,
            вызывает
            раздражение глаз и кожи купающихся.
            Если значение РН ниже нормы, то металлическим деталям угрожает коррозия, а материалам и швам плиточного
            покрытия
            -
            разрушение.
        </p>

    </li>
    <li>
        <h2>
            Ударная обработка воды.
        </h2>
        <p>
            (Проводится при первом запуске и затем, в течение сезона, 1 раз в неделю)
        </p>
        <ol>
            <li>
                <a href="https://ozon.ru/t/tK1NBxo">Альгицид</a> — {{ poolGuideDto.algicide }} мл
                разлейте по периметру бассейна непосредственно в воду при
                включенной фильтрации.(При первом запуске используйте двойной дозу альгицида)
            </li>

            <li>
                С помощью мерной емкости отмеряйте {{ poolGuideDto.chlorineGran }} грамм
                <a href="https://ozon.ru/t/qu3PQ05">хлора в гранулах</a>.
            </li>
            <li>
                Растворите гранулы в ведре с водой и разлейте раствор по периметру бассейна при включенной
                фильтрации.
            </li>
        </ol>
        <p>
            Обратите внимание! Альгицид- не может применяться как самостоятельное средство для очистки бассейна.
            Это вспомогательное средство. Он препятствует размножению водорослей, но не убивает их.
            Используется для профилактики. И обязательно вместе с хлором.
        </p>
        <p class="red-text">
            12 часов ПОСЛЕ УДАРНОЙ ОБРАБОТКИ КУПАТЬСЯ ЗАПРЕЩЕНО.
        </p>
        <p>
            Через 12 часов после ударной обработки сделайте замер уровня хлора в бассейне
            при помощи таблеточного тестера. При уровне хлора ниже 1.0 можно купаться без риска для
            здоровья. Оптимальное значение хлора в воде 0.3 - 0.5.
        </p>
    </li>
    <li>
        <h2>Текущая обработка.</h2>
        <p>
            Используйте Медленный стабилизированный хлор в таблетках. Начните применять его
            спустя сутки после ударной обработки.
        </p>

        {% if poolGuideDto.poolVolume > 16 %}
            <p>
                <a href="https://ozon.ru/t/NIgXyrn">Медленный стабилизированный хлор в таблетках по 200 гр</a>
                ,
                {{ poolGuideDto.slowChlorineBigPill }} шт таблеток положите в поплавок-дозатор.
            </p>
        {% else %}
            <p>
                <a href="https://ozon.ru/t/NIgXyWh">Медленный стабилизированный хлор в таблетках по 20 гр</a>
                {{ poolGuideDto.slowChlorineSmallPill }} шт таблеток положите в поплавок-дозатор.
            </p>
        {% endif %}

        <p>
            Добавляйте таблетки в поплавок по мере их растворения. Поплавок с таблетками должен постоянно находится в
            воде бассейна. На время купания в воде маленьких детей следует доставать поплавок из бассейна.
        </p>
    </li>
    <li>
        <h2>
            Использование коагулянта.
        </h2>
        <p>
            Коагулянт применяют в случае, если после ударной обработки вода приобрела мутно-белый оттенок.
            Коагулянт бывает в жидком виде или в виде таблеток в картриджах.
        </p>
        {% if poolGuideDto.filterType.name == "SAND" %}
            <p>
                С песочным фильтр-насосом применяйте
                <a href="https://ozon.ru/t/Qosc5N8">сухой коагулянт в таблетках</a>:
            </p>
            <ol>
                <li>
                    {{ poolGuideDto.coagulatPill }} шт таблеток сухого коагулянта положите в скиммер.
                </li>
                <li>
                    Фильтр-насос включите в режим фильтрации.
                </li>
                <li>
                    Через 12 часов сделайте обратную промывку песка в фильтре.
                </li>
                <li>
                    Если вода была очень мутная, то промойте песок еще
                    через сутки.
                </li>

            </ol>
        {% else %}
            <p>
                С картриджным фильтр-насосом применяйте
                <a href="https://ozon.ru/t/QoscUdm">жидкий коагулянт</a>.
            </p>
            <ol>
                <li>
                    Добавьте {{ poolGuideDto.coagulatLiquid }} мл жидкого коагулянта непосредственно в воду и
                    отключите фильтрацию.
                </li>
                <li>
                    Отстаивайте воду не менее суток.
                </li>
                <li>
                    После отстаивания, на дне бассейна оседают хлопья, соберите их водным пылесосом.
                </li>
            </ol>
        {% endif %}

        <p>
            Обратите внимание! Если в бассейне недостаточный уровень хлора (давно не делали ударную и текущую
            обработку), и
            вода
            в
            бассейне стала мутной, то это означает, что вода начала портится и тогда коагулянт не поможет. Нужно сначала
            сделать
            ударную обработку, а затем очистить воду от взвешенных частиц коагулянтом.
        </p>
    </li>
</ol>
</body>
</html>