<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Инструкция</title>
    <style>
        body {
            font-family: "DejaVu Sans";
        }
        .main-list {
            counter-reset: item;
            list-style: none;
             padding-left: 0;
        }

        .main-list > li {
            counter-increment: item;
        }

        .main-list > li > h2::before {
            content: counter(item) ". ";
        }
        .red-text {
            color: red;
        }
    </style>
</head>
<body>
<ol class="main-list">
    <li>
        <h2>
            Предварительная обработка бассейна.
        </h2>

        <p>
            Разведите 1л Альгицида в 10л воды в отдельной емкости.
            Обработайте этим раствором внутреннюю поверхность бассейна (стенки и дно).
            <!--</p>-->
            <!--<p>-->
            Далее оставьте до полного высыхания и наполните бассейн водой.
            Это позволит предотвратить на стенках и дне бассейна скользкий налет.
        </p>
    </li>
    <li>
        <h2>
            Корректировка уровня PH воды бассейна.
        </h2>

        <ol>
            <li>
                Возьмите средство <a href="https://ozon.ru/t/1GxBVTB">РН минус</a>, растворите в пластиковой емкости
                ____г
                средства.
            </li>
            <li>
                Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
            </li>
            <li>
                Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
                пришел в
                норму.
            </li>
            <li>
                Возьмите средство <a href="https://ozon.ru/t/7i0AgpJ">РН плюс</a>, растворите в пластиковой емкости
                ____г
                средства.
            </li>
            <li>
                Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
            </li>
            <li>
                Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
                пришел в
                норму.
            </li>
        </ol>
        <p>
            Оптимальное значение РН - 7.2 — 7.4.
            Правильный уровень РН в воде необходим для качественной работы дезинфицирующих средств.
            При повышенном уровне РН происходит выпадение известкового осадка, вода приобретает неприятный запах,
            вызывает
            раздражение глаз и кожи купающихся.
            Если значение РН ниже нормы, то металлическим деталям угрожает коррозия, а материалам и швам плиточного
            покрытия
            -
            разрушение.
        </p>

    </li>
    <li>
        <h2>
            Ударная обработка воды.
        </h2>
        <p>
            (Проводится при первом запуске и затем, в течение сезона, 1 раз в неделю)
        </p>
        <ol>
            <li>
                <a href="https://ozon.ru/t/ynlRiLP">Альгицид</a> — ____ мл
                разлейте по периметру бассейна непосредственно в воду при
                включенной фильтрации.
            </li>

            <li>
                С помощью мерной емкости отмеряйте____ грамм
                <a href="https://ozon.ru/t/qu3PQ05">хлора в гранулах</a>.
            </li>
            <li>
                Растворите гранулы в ведре с водой и разлейте раствор по периметру бассейна при включенной
                фильтрации.
            </li>
        </ol>
        <p>
            Обратите внимание! Альгицид- не может применяться как самостоятельное средство для очистки бассейна.
            Это вспомогательное средство. Он препятствует размножению водорослей, но не убивает их.
            Используется для профилактики. И обязательно вместе с хлором.
        </p>
        <p>
            Или Быстрый стабилизированный <a href="https://ozon.ru/t/oEYsm9P">хлор в таблетках 20гр</a>.
        </p>
        <ol start="2">
            <li>Отсчитайте ____ таблеток, растворите таблетки в ведре с водой</li>
            <li>Разлейте раствор по периметру бассейна при включенной фильтрации</li>
        </ol>
        <p class="red-text">
            12 часов ПОСЛЕ УДАРНОЙ ОБРАБОТКИ КУПАТЬСЯ ЗАПРЕЩЕНО.
        </p>
    </li>
    <li>
        <h2>
            Использование коагулянта.
        </h2>
        <p>
            Коагулянт применяют в случае, если после ударной обработки вода приобрела мутно-белый оттенок.
            Коагулянт бывает в жидком виде или в виде таблеток в картриджах.
        </p>
        <h4>
            Картриджный фильтр-насос:
        </h4>
        <p>
            Применяйте <a href="https://ozon.ru/t/QoscUdm">жидкий коагулянт</a>.
            При мутности воды после шокового хлорирования добавьте ___ л жидкого коагулянта непосредственно в воду и
            отключите фильтрацию. После отстаивания, на дне бассейна оседают хлопья, собрате их водным пылесосом.
            Предварительно, на верхнем клапане фильтр-насоса, переключите режим на «Сброс».
        </p>
        <h4>
            Песочный фильтр-насос:
        </h4>
        <p>
            <a href="https://ozon.ru/t/Qosc5N8">Сухой коагулянт в таблетках</a>:
            ___ шт таблеток сухого коагулянта положите в скиммер.
            Через сутки сделайте обратную промывку песка в фильтре. Если вода была очень мутная, то промойте песок еще
            через
            сутки.
        </p>
        <p>
            Обратите внимание! Если в бассейне недостаточный уровень хлора (давно не делали ударную и текущую
            обработку), и
            вода
            в
            бассейне стала мутной, то это означает, что вода начала портится и тогда коагулянт не поможет. Нужно сначала
            сделать
            ударную обработку, а затем очистить воду от взвешенных частиц коагулянтом.
        </p>
    </li>
    <li>
        <h2>Текущая обработка.</h2>
        <p>
            Используйте Медленный стабилизированный хлор в таблетках.
        </p>
        <h4>
            Бассейны до 16м3
        </h4>
        <p>
            <a href="https://ozon.ru/t/NIgXyWh">Медленный стабилизированный хлор в таблетках по 20 гр</a>
            ____ шт таблеток положите в поплавок-дозатор.
        </p>
        <h4>
            Бассейны более 16м3
        </h4>
        <p>
            <a href="https://ozon.ru/t/NIgXyrn">Медленный стабилизированный хлор в таблетках по 200 гр</a>
            ,
            ____ шт таблеток положите в поплавок.
        </p>
        <p>
            Добавляйте таблетки в поплавок по мере их растворения. Поплавок с таблетками должен постоянно находится в
            воде бассейна. На время купания в воде маленьких детей следует доставать поплавок из бассейна.
        </p>
    </li>
    <li>
        <h2>
            Список необходимых средств для чистой воды бассейна:
        </h2>
        <ol>
            <li>Альгицид</li>
            <li>Быстрый хлор в гранулах или быстрый хлор в таблетках. Выбираете то, с чем вам удобнее работать.</li>
            <li>Медленный хлор в таблетках 20гр или Медленный хлор в таблетках 200гр.</li>
            <li>Рн-минус или РН плюс</li>
            <li>Коагулянт жидкий или коагулянт в таблетках.</li>
        </ol>
    </li>
</ol>
</body>
</html>