<dl>
    <dt>
        Замер и корректировка уровня PH воды бассейна.
    </dt>
    <dd>
        <p class="m-8">
            Оптимальное значение РН - 7.2 — 7.4.
            Правильный уровень РН в воде необходим для качественной работы дезинфицирующих средств.
            Для определния уровня PH воды вашего бассейна используйте таблеточный тестер.
        </p>

        <ol>
            <li>
                С помощью тестера замеряйте уровень PH воды бассейна
            </li>
        </ol>

        <strong>
            Если уровень PH выше 7.2 — 7.4:
        </strong>
        <ol start="2">
            <li>
                Возьмите средство <a href="https://ozon.ru/product/ph-minus-dlya-basseyna-v-granulah-1-kg-himiya-dlya-basseyna-dlya-ponizheniya-urovnya-ph-aqualeon-1074960973/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                РН минус</a>.
                Для понижения PH на каждые 0.2 растворите в пластиковой емкости
                {{ poolGuideDto.phMinus }}г средства.
                (К примеру если у вас уровень PH равен 8.0, то вам понадобиться {{ 3 * poolGuideDto.phMinus }}г средства)
            </li>
            <li>
                Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
            </li>
            <li>
                Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
                пришел в
                норму.
            </li>
        </ol>

        <strong>
            Если уровень PH ниже 7.2 — 7.4:
        </strong>
        <ol start="2">
            <li>
                Возьмите средство <a href="https://ozon.ru/product/sredstvo-dlya-povysheniya-ph-basseyna-ph-plyus-1-kg-aqualeon-himiya-dlya-basseyna-1589042876/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                РН плюс</a>.
                Для повышения PH на 0.2 растворите в пластиковой емкости
                {{ poolGuideDto.phPlus }}г средства.
                (К примеру если у вас уровень PH равен 6.8,
                то вам понадобиться {{ 3 * poolGuideDto.phPlus }}г средства)
            </li>
            <li>
                Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
            </li>
            <li>
                Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
                пришел в
                норму.
            </li>
        </ol>
        <p class="m-8">
            Для эффективного распределения средства рекомендуется включить насос в режим циркуляции.
        </p>
        <p class="m-8">
            При повышенном уровне РН происходит выпадение известкового осадка, вода приобретает неприятный запах,
            вызывает
            раздражение глаз и кожи купающихся.
            Если значение РН ниже нормы, то металлическим деталям угрожает коррозия, а материалам и швам плиточного
            покрытия
            -
            разрушение.
        </p>
    </dd>
</dl>



