<h2>
    Замер и корректировка уровня PH воды бассейна.
</h2>

<p>
    Оптимальное значение РН - 7.2 — 7.4.
    Правильный уровень РН в воде необходим для качественной работы дезинфицирующих средств.
    Для определния уровня PH воды вашего бассейна используйте таблеточный тестер.
</p>

<ol>
    <li>
        С помощью тестера замеряйте уровень PH воды бассейна
    </li>
</ol>

<h4>
    Если уровень PH выше 7.2 — 7.4:
</h4>
<ol start="2">
    <li>
        Возьмите средство <a href="https://ozon.ru/t/1GxBVTB">РН минус</a>.
        Для понижения PH на каждые 0.2 растворите в пластиковой емкости
        {{ poolGuideDto.phMinus }}г средства.
        (К примеру если у вас уровень PH равен 8.0, то вам понадобиться {{ 3 * poolGuideDto.phMinus }}г средства)
    </li>
    <li>
        Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
    </li>
    <li>
        Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
        пришел в
        норму.
    </li>
</ol>

<h4>
    Если уровень PH ниже 7.2 — 7.4:
</h4>
<ol start="2">
    <li>
        Возьмите средство <a href="https://ozon.ru/t/7i0AgpJ">РН плюс</a>.
        Для повышения PH на 0.2 растворите в пластиковой емкости
        {{ poolGuideDto.phPlus }}г средства.
        (К примеру если у вас уровень PH равен 6.8,
        то вам понадобиться {{ 3 * poolGuideDto.phPlus }}г средства)
    </li>
    <li>
        Влейте раствор порциями вблизи подающих форсунок, но только не перед заборной форсункой.
    </li>
    <li>
        Примерно через 2 часа снова проведите тестером замеры уровня РН в воде бассейна, чтобы убедится, что РН
        пришел в
        норму.
    </li>
</ol>
<p>
    Для эффективного распределения средства рекомендуется включить насос в режим циркуляции.
</p>
<p>
    При повышенном уровне РН происходит выпадение известкового осадка, вода приобретает неприятный запах,
    вызывает
    раздражение глаз и кожи купающихся.
    Если значение РН ниже нормы, то металлическим деталям угрожает коррозия, а материалам и швам плиточного
    покрытия
    -
    разрушение.
</p>
