<dl>
    <dt>
        Предварительная обработка бассейна.
    </dt>
    <dd>
        <p class="m-8">
            Это нужно сделать перед тем как заполнить бассейн водой.
        </p>
        <p class="m-8">
            Разведите 300мл
            <a href="https://ozon.ru/product/algitsid-dlya-basseyna-1l-prolongirovannyy-sredstvo-protiv-vodorosley-i-zeleni-1l-1kg-aqualeon-1591639988/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                Альгицида</a>
            в 3л воды в отдельной емкости.
            Обработайте этим раствором внутреннюю поверхность бассейна (стенки и дно).
            Далее оставьте до полного высыхания и наполните бассейн водой.
            Это позволит предотвратить на стенках и дне бассейна скользкий налет.
        </p>
    </dd>
</dl>