<h2>Текущая обработка.</h2>
<p>
    Используйте Медленный стабилизированный хлор в таблетках. Начните применять его
    спустя сутки после ударной обработки.
</p>

{% if poolGuideDto.poolVolume > 16 %}
<p>
    <a href="https://ozon.ru/t/NIgXyrn">Медленный стабилизированный хлор в таблетках по 200 гр</a>
    ,
    {{ poolGuideDto.slowChlorineBigPill }} шт таблеток положите в поплавок-дозатор.
</p>
{% else %}
<p>
    <a href="https://ozon.ru/t/NIgXyWh">Медленный стабилизированный хлор в таблетках по 20 гр</a>
    {{ poolGuideDto.slowChlorineSmallPill }} шт таблеток положите в поплавок-дозатор.
</p>
{% endif %}

<p>
    Добавляйте таблетки в поплавок по мере их растворения. Поплавок с таблетками должен постоянно находится в
    воде бассейна. На время купания в воде маленьких детей следует доставать поплавок из бассейна.
</p>