<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Инструкция</title>
    <link rel="stylesheet" href="template.css"/>
    <style>
        {% include "static/templates/template.css" %}
    </style>
</head>
<body>
{% include "static/templates/list-of-chemicals.html" %}

<h2>Часть 1. Начало сезона. Запуск бассейна</h2>

<ol class="main-list">
    <li>
        <dl>
            <dt>Защита стенок и дна от скользкого налета.</dt>
            <dd>
                <p class="m-8">
                    Это нужно сделать перед тем, как заполнить бассейн водой. Обработайте дно и
                    стенки бассейна раствором Альгицида.
                </p>
                <p class="m-8">
                    Как сделать: Разведите 300мл Альгицида в 3л воды в отдельной емкости.
                    Обработайте этим раствором (с помощью губки или ветоши) внутреннюю
                    поверхность бассейна (стенки и дно). Оставьте до полного высыхания и
                    наполните бассейн водой.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Подключение оборудования.</dt>
            <dd>
                <p class="m-8">
                Соберите и подключите фильтрацию и скиммер. Чтобы как только вода потечет,
                она сразу начала циркулировать. В застойной воде быстрее размножаются
                бактерии.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Наполнение и старт.</dt>
            <dd>
                <p class="m-8">
                Залейте воду и включите фильтр. Фильтрация должна работать постоянно во
                время подготовки, чтобы химия распределялась равномерно, а не оседала
                пятнами на дне.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        {% include "static/templates/ph.html" %}
    </li>

    <li>
        <dl>
            <dt><strong>«Шоковая терапия» (Хлор):</strong> Сделайте ударную обработку хлором.</dt>
            <dd>
                <p class="m-8">
                В водопроводной воде много микроорганизмов. Нам нужно удалить бактерии
                сразу, чтобы получить чистую воду.
                </p>
                <ol>
                    <li>
                        С помощью мерной емкости отмеряйте {{ 2 * poolGuideDto.chlorineGran }} грамм
                        <a href="https://ozon.ru/product/udarnyy-hlor-dlya-basseyna-v-granulah-1-kg-aqualeon-sredstvo-dlya-shokovogo-hlorirovaniya-vody-1074963474/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                            хлора в гранулах</a>.
                    </li>
                    <li>
                        Растворите гранулы в ведре с водой и разлейте раствор по периметру бассейна при включенной
                        фильтрации.
                    </li>
                </ol>
                <p class="m-8">
                    После проведения ударной обработки воды хлором необходимо включить фильтр-насос
                    в режиме фильтрации на 8–10 часов для равномерного распределения реагентов и очистки воды.
                </p>
                {% if poolGuideDto.filterType.name == "SAND" %}
                <p class="m-8">
                    На следующий день выполните обратную промывку песка в фильтре.
                </p>
                {% else %}
                <p class="m-8">
                    На следующий день контролируйте степень загрязнения картриджа и при необходимости заменяйте его в течение суток.
                </p>
                {% endif %}
                <p class="m-8">
                    Если спустя сутки вода не стала прозрачной и не пришла в норму,
                    необходимо повторить ударную обработку хлором с последующей фильтрацией.
                </p>
                <p class="red-text">
                    12 часов ПОСЛЕ УДАРНОЙ ОБРАБОТКИ КУПАТЬСЯ ЗАПРЕЩЕНО.
                </p>
                <p class="m-8">
                    Через 12 часов после ударной обработки сделайте замер уровня хлора в бассейне
                    при помощи таблеточного тестера. При уровне хлора ниже 1.0 можно купаться без риска для
                    здоровья. Оптимальное значение хлора в воде 0.3 - 0.5.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Ударная доза Альгицида.</dt>
            <dd>
                <p class="m-8">
                Хлор убивает бактерии, а альгицид — споры зелени. Вместе они делают воду
                кристальной.
                </p>
                <p class="m-8">
                    <a href="https://ozon.ru/product/algitsid-dlya-basseyna-1l-prolongirovannyy-sredstvo-protiv-vodorosley-i-zeleni-1l-1kg-aqualeon-1591639988/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        Альгицид</a> — {{ 2 * poolGuideDto.algicide }} мл
                    разлейте по периметру бассейна непосредственно в воду при
                    включенной фильтрации.
                </p>
                <p class="m-8">
                    Обратите внимание! Альгицид- не может применяться как самостоятельное средство для очистки бассейна.
                    Это вспомогательное средство. Он препятствует размножению водорослей, но не убивает их.
                    Используется для профилактики. И обязательно вместе с хлором.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Глубокая очистка.</strong></dt>
            <dd>
                <p class="m-8">
                Оставьте фильтр работать на 8–10 часов. Вся химия должна перемешаться,
                а мелкая взвесь очистится фильтром.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Проверка безопасности.</strong></dt>
            <dd>
                <p class="m-8">
                    Через 12 часов проверьте уровень хлора. Если он упал ниже 1 мг/л —
                    можно купаться.
                </p>
                <p class="m-8">
                    <strong>Зачем это делать:</strong>После ударной обработки хлора в воде слишком много.
                    Ждем, пока он выветрится до безопасного уровня.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Поддержка (Медленная таблетка).</strong></dt>
            <dd>
                <p class="m-8">
                Медленная таблетка по чуть-чуть растворяется и поддерживает уровень
                хлора в бассейне на таком уровне, что не дает воде испортиться и,
                в то же время, это безопасно для человека.
                </p>
                <p class="m-8">
                    Используйте Медленный стабилизированный хлор в таблетках. Начните применять его
                    спустя сутки после ударной обработки.
                </p>

                {% if poolGuideDto.poolVolume > 15 %}
                <p class="m-8">
                    <a href="https://ozon.ru/product/tabletki-dlya-basseyna-3v1-po-200gr-aqualeon-1kg-5-tabletok-po-200-gr-medlennyy-hlor-dlya-basseyna-1117806740/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        Медленный стабилизированный хлор в таблетках по 200 гр</a>
                    ,
                    {{ poolGuideDto.slowChlorineBigPill }} шт таблеток положите в поплавок-дозатор.
                </p>
                {% else %}
                <p class="m-8">
                    <a href="https://ozon.ru/product/medlennyy-hlor-kompleksnogo-deystviya-3v1-akvaleon-0-9-kg-hlornye-tabletki-45-tabletok-po-20-1631912960/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        Медленный стабилизированный хлор в таблетках по 20 гр</a>
                    {{ poolGuideDto.slowChlorineSmallPill }} шт таблеток положите в поплавок-дозатор.
                </p>
                {% endif %}

                <p class="m-8">
                    Добавляйте таблетки в поплавок по мере их растворения. Поплавок с таблетками должен постоянно находится в
                    воде бассейна. На время купания в воде маленьких детей следует доставать поплавок из бассейна.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Если вода недостаточно прозрачная.</dt>
            <dd>
                <p class="m-8">
                    Коагулянт применяют в случае, если после ударной обработки вода приобрела мутно-белый оттенок.
                    Коагулянт бывает в жидком виде или в виде таблеток в картриджах.
                </p>
                {% if poolGuideDto.filterType.name == "SAND" %}
                <p class="m-8">
                    С песочным фильтр-насосом применяйте
                    <a href="https://ozon.ru/product/koagulyant-flokulyant-dlya-basseyna-0-9kg-aqualeon-v-tabletkah-po-25-gr-v-vedre-7-meshochkov-1588948252/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        сухой коагулянт в таблетках</a>:
                </p>
                <ol>
                    <li>
                        {{ poolGuideDto.coagulatPill }} шт таблеток сухого коагулянта положите в скиммер.
                    </li>
                    <li>
                        Фильтр-насос включите в режим фильтрации.
                    </li>
                    <li>
                        Через 12 часов сделайте обратную промывку песка в фильтре.
                    </li>
                    <li>
                        Если вода была очень мутная, то промойте песок еще
                        через сутки.
                    </li>

                </ol>
                {% else %}
                <p class="m-8">
                    С картриджным фильтр-насосом применяйте
                    <a href="https://ozon.ru/product/koagulyant-zhidkiy-aqualeon-1l-1-1kg-sredstvo-ot-mutnosti-v-basseyne-1050253045/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        жидкий коагулянт</a>.
                </p>
                <ol>
                    <li>
                        Добавьте {{ poolGuideDto.coagulatLiquid }} мл жидкого коагулянта непосредственно в воду и
                        отключите фильтрацию.
                    </li>
                    <li>
                        Отстаивайте воду не менее суток.
                    </li>
                    <li>
                        После отстаивания, на дне бассейна оседают хлопья, соберите их водным пылесосом.
                    </li>
                </ol>
                {% endif %}

                <p class="m-8">
                    Обратите внимание! Если в бассейне недостаточный уровень хлора (давно не делали ударную и текущую
                    обработку), и
                    вода
                    в
                    бассейне стала мутной, то это означает, что вода начала портится и тогда коагулянт не поможет. Нужно сначала
                    сделать
                    ударную обработку, а затем очистить воду от взвешенных частиц коагулянтом.
                </p>
            </dd>
        </dl>
    </li>
</ol>

<h2>Часть 2. Еженедельный ритуал. Как не дать бассейну превратиться в болото</h2>

<p class="m-8">
    <i>
        Всего 1 час в неделю избавят вас от необходимости сливать воду до конца лета.
    </i>
</p>

<ol class="main-list">
    <li>
        <dl>
            <dt><strong>Гигиена поверхности.</strong></dt>
            <dd>
                <p class="m-8">
                Соберите мусор сачком и очистите корзину скиммера.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Чистка фильтра (Обратная промывка):</strong> Промойте песок в фильтре.</dt>
            <dd>
                <p class="m-8">
                Весь мусор, который фильтр собрал за неделю, забивает песок.
                Давление растет, а очистка падает. Промывка «встряхивает» песок
                и убирает грязь.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Уборка дна (Пылесос):</strong> Соберите осадок со дна водным пылесосом.</dt>
            <dd>
                <p class="m-8">
                Фильтр не всегда
                засасывает тяжелую грязь. То, что лежит на дне, — отличная
                подкормка для водорослей.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Контроль PH:</strong> Снова замеряем и правим.</dt>
            <dd>
                <p class="m-8">
                Дожди, свежая вода из шланга и даже пот купающихся людей меняют
                кислотность. Без контроля PH химия перестанет работать.
                Инструкция по использованию PH уже приводилась выше.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Профилактический «удар»:</strong> Добавьте ударный хлор и альгицид.</dt>
            <dd>
                <p class="m-8">
                За неделю в воде накапливаются бактерии, которые медленная таблетка
                в поплавке может не осилить. Ударная доза убивает все бактерии,
                водоросли, вирусы.
                </p>
                <ol>
                    <li>
                        С помощью мерной емкости отмеряйте {{ poolGuideDto.chlorineGran }} грамм
                        <a href="https://ozon.ru/product/udarnyy-hlor-dlya-basseyna-v-granulah-1-kg-aqualeon-sredstvo-dlya-shokovogo-hlorirovaniya-vody-1074963474/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                            хлора в гранулах</a>.
                    </li>
                    <li>
                        Растворите гранулы в ведре с водой и разлейте раствор по периметру бассейна при включенной
                        фильтрации.
                    </li>
                </ol>
                <p class="m-8">
                    После проведения ударной обработки воды хлором необходимо включить фильтр-насос
                    в режиме фильтрации на 8–10 часов для равномерного распределения реагентов и очистки воды.
                </p>
                {% if poolGuideDto.filterType.name == "SAND" %}
                <p class="m-8">
                    На следующий день выполните обратную промывку песка в фильтре.
                </p>
                {% else %}
                <p class="m-8">
                    На следующий день контролируйте степень загрязнения картриджа и при необходимости заменяйте его в течение суток.
                </p>
                {% endif %}
                <p class="m-8">
                    Если спустя сутки вода не стала прозрачной и не пришла в норму,
                    необходимо повторить ударную обработку хлором с последующей фильтрацией.
                </p>
                <p class="red-text">
                    12 часов ПОСЛЕ УДАРНОЙ ОБРАБОТКИ КУПАТЬСЯ ЗАПРЕЩЕНО.
                </p>
                <p class="m-8">
                    Через 12 часов после ударной обработки сделайте замер уровня хлора в бассейне
                    при помощи таблеточного тестера. При уровне хлора ниже 1.0 можно купаться без риска для
                    здоровья. Оптимальное значение хлора в воде 0.3 - 0.5.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Безопасное купание:</strong> Через 12 часов проверяем хлор.</dt>
            <dd>
                <p class="m-8">
                Чтобы быть уверенным, что вода
                не только прозрачная, но и безопасная для детей.
                Если меньше 1 мг/л — можно купаться.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt><strong>Поддержка (Медленная таблетка).</strong></dt>
            <dd>
                <p class="m-8">
                Медленная таблетка по чуть-чуть растворяется и поддерживает
                уровень хлора в бассейне на таком уровне, что не дает воде
                испортиться и, в то же время, это безопасно для человека.
                </p>
                <p class="m-8">
                    Используйте Медленный стабилизированный хлор в таблетках. Начните применять его
                    спустя сутки после ударной обработки.
                </p>

                {% if poolGuideDto.poolVolume > 15 %}
                <p class="m-8">
                    <a href="https://ozon.ru/product/tabletki-dlya-basseyna-3v1-po-200gr-aqualeon-1kg-5-tabletok-po-200-gr-medlennyy-hlor-dlya-basseyna-1117806740/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        Медленный стабилизированный хлор в таблетках по 200 гр</a>
                    ,
                    {{ poolGuideDto.slowChlorineBigPill }} шт таблеток положите в поплавок-дозатор.
                </p>
                {% else %}
                <p class="m-8">
                    <a href="https://ozon.ru/product/medlennyy-hlor-kompleksnogo-deystviya-3v1-akvaleon-0-9-kg-hlornye-tabletki-45-tabletok-po-20-1631912960/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        Медленный стабилизированный хлор в таблетках по 20 гр</a>
                    {{ poolGuideDto.slowChlorineSmallPill }} шт таблеток положите в поплавок-дозатор.
                </p>
                {% endif %}

                <p class="m-8">
                    Добавляйте таблетки в поплавок по мере их растворения. Поплавок с таблетками должен постоянно находится в
                    воде бассейна. На время купания в воде маленьких детей следует доставать поплавок из бассейна.
                </p>
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Если вода недостаточно прозрачная.</dt>
            <dd>
                {% if poolGuideDto.filterType.name == "SAND" %}
                <p class="m-8">
                    С песочным фильтр-насосом применяйте
                    <a href="https://ozon.ru/product/koagulyant-flokulyant-dlya-basseyna-0-9kg-aqualeon-v-tabletkah-po-25-gr-v-vedre-7-meshochkov-1588948252/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        сухой коагулянт в таблетках</a>:
                </p>
                <ol>
                    <li>
                        {{ poolGuideDto.coagulatPill }} шт таблеток сухого коагулянта положите в скиммер.
                    </li>
                    <li>
                        Фильтр-насос включите в режим фильтрации.
                    </li>
                    <li>
                        Через 12 часов сделайте обратную промывку песка в фильтре.
                    </li>
                    <li>
                        Если вода была очень мутная, то промойте песок еще
                        через сутки.
                    </li>

                </ol>
                {% else %}
                <p class="m-8">
                    С картриджным фильтр-насосом применяйте
                    <a href="https://ozon.ru/product/koagulyant-zhidkiy-aqualeon-1l-1-1kg-sredstvo-ot-mutnosti-v-basseyne-1050253045/?hs=1&amp;utm_source=bot&amp;utm_medium=pdf&amp;utm_campaign=vendor_org_683373">
                        жидкий коагулянт</a>.
                </p>
                <ol>
                    <li>
                        Добавьте {{ poolGuideDto.coagulatLiquid }} мл жидкого коагулянта непосредственно в воду и
                        отключите фильтрацию.
                    </li>
                    <li>
                        Отстаивайте воду не менее суток.
                    </li>
                    <li>
                        После отстаивания, на дне бассейна оседают хлопья, соберите их водным пылесосом.
                    </li>
                </ol>
                {% endif %}

                <p class="m-8">
                    Обратите внимание! Если в бассейне недостаточный уровень хлора (давно не делали ударную и текущую
                    обработку), и
                    вода
                    в
                    бассейне стала мутной, то это означает, что вода начала портится и тогда коагулянт не поможет. Нужно сначала
                    сделать
                    ударную обработку, а затем очистить воду от взвешенных частиц коагулянтом.
                </p>
            </dd>
        </dl>
    </li>
</ol>

<hr />

<h4>Главный секрет:</h4>

<p class="m-8">
    Бассейн проще поддерживать в чистоте, чем «лечить» запущенную зеленую воду.
    Делайте эти шаги регулярно, и вы забудете о том, что такое слив воды
    посреди июля!
</p>

<!--
<p class="m-8">
    Обьем вашего бассейна: {{ poolGuideDto.poolVolume | numberformat("#.##") }} м3
</p>
<ol class="main-list">
    <li>
        {% include "static/templates/pool-pre-treatment.html" %}
    </li>
    {% if poolGuideDto.poolVolume > 5 %}
    <li>
        {% include "static/templates/ph.html" %}
    </li>
    {% endif %}
    <li>
        {% include "static/templates/fast-treatment.html" %}
    </li>
    <li>
        {% include "static/templates/slow-treatment.html" %}
    </li>
    {% if poolGuideDto.filterType.name != "NO_FILTER" %}
    <li>
        {% include "static/templates/coagulat.html" %}
    </li>
    {% endif %}
</ol>
-->
</body>
</html>