Thumbs.db
.DS_Store
.gradle
build/
target/
out/
*/out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

### Elm ###
*/elm-stuff
src/main/resources/static/elm.js

### Python ###
__pycache__
*/__pycache__