nav {
    margin: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.sh-hor {
    display: flex; /* item placed horizontally */
    gap: 10px;
    align-items: center;
}

.sh-custom-a {
    color: inherit;           /* цвет как у обычного текста */
    text-decoration: none;    /* убрать подчёркивание */
    cursor: pointer;          /* оставить "руку" при наведении */
}

form {
    /*margin-top: 10px;*/
    padding: 20px;
}

.hidden {
    display: none;
}

/* -------------------------------*/

.catalog-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: #ff4d2d;
  color: #ffffff;

  padding: 10px 18px;
  border-radius: 10px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

/* иконка (4 квадратика) */
.catalog-btn .icon {
  display: grid;
  grid-template-columns: repeat(2, 6px);
  grid-template-rows: repeat(2, 6px);
  gap: 3px;
}

.catalog-btn .icon i {
  display: block;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 2px;
}